.container {
    align-items: center;
    text-align: center;
    
  }



.categories{
  max-width: 500px;
  display: flex;
  text-decoration: none;
  margin: 0 auto;
  justify-content: space-between;
}

.categories a{
  border: 2px solid black;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 120px;
  display: inline-block;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.categories a:hover{
    color: white;
    background-color: black;
}

@media(max-width: 485px) {
    .categories{
        flex-direction: column;
    }
    .categories a{
        width: 70%;
        margin-top: 20px;
    }
}