body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


header {
  background-color: #fff;
  padding: 0 20px;
}



main {
  max-width: 100%;
  height: 100%;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  margin: 20px auto;
}


footer {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
  color: black;
  text-align: center;
  padding: 10px 15px;
  margin-top: 20px;
}
