.filterContainer {
    padding: 16px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fff;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    
}

.filterContainer h3 {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    
}

.filterSection {
    margin-bottom: 16px;
    
}

.filterSection label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
    
}

.filterSection input,
.filterSection select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.filterSection input:focus,
.filterSection select:focus {
    border-color: #007bff;
}  

.ApplyButton{
    display: none;
}


@media(max-width: 880px) {
    .filterContainer {
        border-radius: 0;
        padding: 16px;
        box-sizing: border-box;
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        max-width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        
    }
    
    .filterContainer.active {
        transform: translateX(0);
    }

    .ApplyButton {
        display: block;
        margin: 0 auto;
        width: 90%;
        margin-top: 50px;
        cursor: pointer;
        background-color: #ffffff;
        border: 2px solid black;
        color: black;
        border-radius: 4px;
        padding: 4px 2px;
        transition: background-color 0.3s;
        text-align: center;
    }
    .ApplyButton h1{
        
        margin: 0;
    }

    .ApplyButton:hover {
        color: white;
        background-color: black;
      }
}